<?xml version="1.0" encoding="UTF-8"?>

<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <Target Name="CopyPackageAssets" AfterTargets="Build">
    <ItemGroup>
      <ModuleProjectReferences
        Include="@(_MSBuildProjectReferenceExistent)"
        Condition="Exists('%(RootDir)%(Directory)Module.txt') Or Exists('%(RootDir)%(Directory)obj\Module.txt')" />
    </ItemGroup>

    <MSBuild Targets="CopyPackageAssetFiles"
             Properties="ApplicationDirectory=$(MSBuildProjectDirectory)"
             Projects="@(ModuleProjectReferences)"
             Condition="'@(ModuleProjectReferences)' != ''"
             ContinueOnError="true">
    </MSBuild>
  </Target>

  <Target Name="CleanPackageAssets" AfterTargets="Clean" Condition="'$(IgnorePackageAssets)' != 'true' And Exists('packages')">
    <ItemGroup>
      <AllPackageAssetFiles Include="modules\**" />
    </ItemGroup>

    <Delete
      Files="@(AllPackageAssetFiles)"
      ContinueOnError="true" />

    <RemoveDir
      Directories="modules\%(AllPackageAssetFiles.RecursiveDir)"
      ContinueOnError="true" />
  </Target>

  <ItemGroup>
    <Compile Remove="modules\**" />
    <Content Remove="modules\**" />
    <EmbeddedResource Remove="modules\**" />
    <None Remove="modules\**" />
  </ItemGroup>

  <ItemGroup>
    <ResolvedFileToPublish Include="modules\**; *.pfx">
      <RelativePath>modules\%(RecursiveDir)%(Filename)%(Extension)</RelativePath>
    </ResolvedFileToPublish>
  </ItemGroup>

</Project>